* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 14px;
}

h2 {
    font-size: 12px;
    color: grey;
}

hr {
    margin-bottom: 58px;
}

#timeline-overlay > div {
    font-size: 12px;
    width: 100%;
    position: absolute;
    background-color: lightblue;
    border-left: 2px solid #2196F3;
}